.example-header-image {
  background-image: url("https://avatars.githubusercontent.com/u/38857665?v=4");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.example-card {
  border-radius: 34px;
  min-width: 40vw;
}
