<mat-card class="example-card shadow">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Ben Lakhoune</mat-card-title>
    <mat-card-subtitle>Student</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="mb-2">
    <p>
      Computer Science student at RWTH Aachen University, specializing in
      full-stack Web development. Experienced with Angular, Lit, Node.js,
      Python, and Java.
    </p>
    <p>
      Currently working as a research  assistant at
      <a
        href="https://github.com/rwth-acis"
        target="_blank"
        rel="noopener noreferrer"
        >@rwth-acis</a
      >
      working on
      <a href="http://las2peer.org" target="_blank" rel="noopener noreferrer"
        >las2peer</a
      >
      for the
      <a href="https://tech4comp.de" target="_blank" rel="noopener noreferrer"
        >tech4comp</a
      >
      project.
    </p>
  </mat-card-content>
</mat-card>
