img.card-img-top {
  height: 30vh;
  width: auto;
  transition: 1s;
}
img.card-img-top:hover {
  height: 30vh;

  width: auto;
  transform: scale(1.1);
}

.card {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  transition: 0.3s;
}
.card:hover {
  height: fit-content;
  transform: scale(1.05);
  /* width: fit-content;
  width: -moz-fit-content; */
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3 !important;
}

#main-title {
  width: max-content;

  background-color: rgba(255, 255, 255, 0.897);
}
