
body {
  margin: 0;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3 !important;
}

#main-title {
  width: max-content;

  background-color: rgba(255, 255, 255, 0.897);
}
body{
  overflow-x: hidden;
}
canvas{
  position:fixed
}
