<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #drawer mode="push">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <span class="material-icons">home</span> <span>Home</span>
      </a>

      <ng-container *ngFor="let link of links">
        <a href="{{ link.url }}">
          <span class="material-icons">
            {{ link.icon }}
          </span>
          <span>
            {{ link.name }}
          </span></a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="sticky-top" color="primary">
      <button
        *ngIf="!environment.production"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <span class="material-icons">menu</span>
      </button>
      <span>Lakhoune</span>
      <span class="example-spacer"></span>

      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        (click)="onShare()"
      >
        <span class="material-icons">share</span>
      </button>
    </mat-toolbar>
    <div class="container">
      <h1>Welcome</h1>
      <a href="http://lakhoune.com" class="mr-1">http://lakhoune.com</a> is
      owned by Ben Lakhoune
      <div class="row">
        <div class="col col-sm-8 mb-4">
          <app-projects></app-projects>
        </div>

        <div class="col col-sm-4">
          <h2>Other</h2>
          <aside class="card shadow">
            <iframe
              style="border-radius: 4px"
              src="https://open.spotify.com/embed/playlist/0vvXsWCC9xrXsKd4FyS8kM"
              height="380"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
          </aside>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
