<mat-card appearance="outlined" class="shadow">
  <mat-card-header> </mat-card-header>

  <mat-card-content class="my-2">
    <p>
      Currently working as a Consultant for
      <a
        href="https://www.capgemini.com/about-us/who-we-are/our-brands/capgemini-invent/
      "
        target="_blank"
        rel="nofollow"
        >Capgemini Invent</a
      >. At Capgemini Invent, I specialize in process analytics, providing
      clients with valuable insights to optimize their operational business
      processes. I contribute to designing strategies that enhance data
      management and value realization, facilitate cross-functional
      collaboration and foster innovation in data analytics.
      <br />
      I worked for 2 years as a research assistant at
      <a
        href="https://github.com/rwth-acis"
        target="_blank"
        rel="noopener noreferrer"
        >@rwth-acis</a
      >
      working on
      <a href="http://las2peer.org" target="_blank" rel="noopener noreferrer"
        >las2peer</a
      >
      for the
      <a href="https://tech4comp.de" target="_blank" rel="noopener noreferrer"
        >tech4comp</a
      >
      project, as well as Web master for the
      <a href="https://avl.lu" target="_blank" rel="noopener noreferrer"
        >AVL academic circle</a
      >
    </p>
    <button
      #cvButton
      (click)="openCV('cv-ben-lakhoune.pdf')"
      mat-flat-button
      color="primary"
      aria-label="icon for cv"
      class="me-2"
    >
      Open CV<i class="ms-1 bi bi-file-earmark-text"></i>
    </button>
    <button
      #cvButtonDe
      (click)="openCV('cv-ben-lakhoune-de.pdf')"
      mat-flat-button
      color="primary"
      aria-label="icon for cv"
    >
      Lebenslauf öffnen<i class="ms-1 bi bi-file-earmark-text"></i>
    </button>
  </mat-card-content>
</mat-card>

<div class="timeline py-3">
  <div
    *ngFor="let experience of experiences; let i = index"
    [class]="'container ' + (i % 2 === 0 ? 'left' : 'right')"
  >
    <div class="content shadow">
      <h2>{{ experience.year }}</h2>
      <ul *ngIf="experience.experiences">
        <li *ngFor="let e of experience.experiences">
          <app-experience [e]="e"></app-experience>
        </li>
      </ul>
    </div>
  </div>
</div>
