.example-header-image {
  background-size: cover;
}

img.card-img-top {
  width: auto;
  transition: 1s;
  background-size: cover;
}

img.card-img-top:hover {
  height: 30vh;

  width: auto;
  transform: scale(1.1);
}

.project {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  transition: 0.3s;
}
.project:hover {
  height: fit-content;
  transform: scale(1.05);
  /* width: fit-content;
  width: -moz-fit-content; */
}

* {
  box-sizing: border-box;
}
h2{
  width: fit-content;
}
@media screen and (min-width: 1400px) {
  .col-12 {
    position: relative!important;
    z-index: 1!important;
    transition: transform 0.3s ease-in-out!important;
  }
  
  .col-12:hover {
    z-index: 2!important;
  }
  
  .col-12:not(:first-child) {
    margin-left: -60px!important;
  }
}
  
