<h2>QR code Generator</h2>
Generate a QR code for your WiFi network. Print it out and share it with your
friends.
<mat-card>
  <form (submit)="generateQR()" [formGroup]="form" class="d-flex flex-column">
    <mat-form-field>
      <mat-label>Wifi name (ssid)</mat-label>
      <input matInput formControlName="ssid" required />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Wifi password</mat-label>
      <input
        matInput
        placeholder="password"
        type="password"
        formControlName="password"
      />
      <mat-hint>Your password is never sent to a server</mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Encryption Algorithm (optional)</mat-label>
      <mat-select formControlName="encryption">
        <mat-option *ngFor="let e of supportedEncryptions" [value]="e">{{
          e
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      {{
        form.valid
          ? "Generate QR code"
          : "Please enter your wifi name and password"
      }}
    </button>
  </form>
</mat-card>
