<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #drawer [fixedInViewport]="true" mode="push">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <span class="material-icons">home</span> <span>Home</span>
      </a>

      <ng-container *ngFor="let link of links">
        <a mat-list-item routerLink="{{ link.url }}">
          <span class="material-icons">
            {{ link.icon }}
          </span>
          <span>
            {{ link.name }}
          </span></a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="background">
      <a href="http://www.freepik.com"
        >Background designed by starline / Freepik</a
      >
    </div>
    <div class="wrapper">
      <mat-toolbar class="sticky-top">
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="drawer.toggle()"
        >
          <span class="material-icons">menu</span>
        </button>
        <a routerLink="/" id="website-header">Lakhoune</a>
        <span class="example-spacer"></span>

        <button
          mat-icon-button
          aria-label="Example icon-button with share icon"
          (click)="onShare()"
        >
          <i class="bi bi-share-fill fs-4"></i>
        </button>
      </mat-toolbar>

      <div class="container mt-2" style="height: 100vh">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- <footer>
      <div class="container row py-2">
        <div class="col-md-6">
         <h1>Welcome</h1>
          <a href="http://lakhoune.com" class="mr-1">http://lakhoune.com</a> is
          owned by Ben Lakhoune
          <br />
        </div>
        <div class="col-md-6 contacts">
          <h5>Social</h5>

          <a href="https://github.com/lakhoune" target="_blank" class="contact"
            ><img
              src="assets/GitHub-Mark-Light-32px.png"
              height="20"
              class="mr-2"
              alt="GitHub logo"
            />
            <span>GitHub</span></a
          >

          <a
            href="mailto: a.b.lakhoune@gmail.com"
            class="contact"
            style="text-decoration: none"
          >
            <span class="material-icons"> email </span>
            <span style="text-decoration: underline"
              >a.b.lakhoune@gmail.com</span
            >
          </a>
        </div>
      </div>
    </footer> -->
  </mat-sidenav-content></mat-sidenav-container
>
