<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #drawer [fixedInViewport]="true" mode="push">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <span class="material-icons">home</span> <span>Home</span>
      </a>

      <ng-container *ngFor="let link of links">
        <a mat-list-item routerLink="{{ link.url }}">
          <span class="material-icons">
            {{ link.icon }}
          </span>
          <span>
            {{ link.name }}
          </span></a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="background"></div>
    <div class="wrapper">
      <mat-toolbar class="sticky-top">
        <button
          mat-icon-button
          class="example-icon"
          aria-label="icon-button with menu icon"
          (click)="drawer.toggle()"
        >
          <span class="material-icons">menu</span>
        </button>
        <a routerLink="/" id="website-header">Lakhoune</a>
        <span class="example-spacer"></span>

        <button
          mat-icon-button
          aria-label="icon-button with share icon"
          (click)="onShare()"
        >
          <i class="bi bi-share-fill fs-4"></i>
        </button>
      </mat-toolbar>

      <div class="container mt-2">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div>
      Designed by <a href="https://github.com/lakhoune">Ben Lakhoune</a>.
      Background designed by
      <a href="http://www.freepik.com">starline / Freepik</a>
    </div>
  </mat-sidenav-content></mat-sidenav-container
>
