.example-header-image {
  background-size: cover;
}

.img-link {
  margin-bottom: auto;
  height:45% !important;
  img {
    height: 100% !important;
    transition: 1s;
    background-size: cover;
    background-position: center;
  }
}


.mat-mdc-card-image:first-child {
  margin-top: 0 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  height: 50vh !important;
  display: flex;
  flex-direction: column;
}



.project {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 20px;
}
.project:hover {
  height: fit-content;
  transform: scale(1.05);
  /* width: fit-content;
  width: -moz-fit-content; */
}
