<mat-card class="shadow project h-100 w-100 project">
  <mat-card-header>
    <mat-card-title class="project-title">{{ project.title }}</mat-card-title>
    @if (project.subtitle) {
      <mat-card-subtitle>{{
        project.subtitle
      }}</mat-card-subtitle>
    }
    @if (!project.subtitle) {
      <mat-card-subtitle><br /></mat-card-subtitle>
    }
  </mat-card-header>
  <a [href]="project.page.href" target="_blank" rel="noopener noreferrer" class="img-link">
  <img mat-card-image [src]="project.previewImgSrc" class="card-img-top thumbnail" alt="website preview" /> </a>
  <mat-card-content>
    @if (project.page.description) {
      <div [innerHTML]="project.page.description"></div>
    }
  </mat-card-content>
  <mat-card-actions>
    <a class="m-0" [href]="project.page.href" mat-button target="_blank" rel="noopener noreferrer">Open <i
    class="bi bi-box-arrow-up-right"></i></a>
    @if (project.source) {
      <a class="m-0" [href]="project.source.href" mat-button target="_blank"
        rel="noopener noreferrer">View Source <i class="bi bi-box-arrow-up-right"></i></a>
      }
    </mat-card-actions>
  </mat-card>