<article id="124045fe-7b82-4c19-8fd0-2d3fca41e773" class="page sans container">
  <header>
    <h1 class="page-title">Tokyo: 4-day travel guide</h1>
    <p class="page-description"></p>
  </header>
  <div class="page-body">
    <ul id="b7ef049d-ad66-4600-aa97-340486849a7f" class="bulleted-list">
      <li style="list-style-type: disc">
        Day 1:
        <mark class="highlight-blue_background"
          ><strong>Asakusa and Ginza</strong></mark
        >: Asakusa has a lot of old temples and traditional snacks. Start at
        <a href="https://maps.app.goo.gl/LSuw8c2YHLbwVv5i6">Nakamise-dori</a>
        street to make your way to the
        <a href="https://maps.app.goo.gl/FA8LK5YaA6TxwiYg9">Asakusa shrine</a>
        <p id="d7c90e58-4b5f-452c-857e-11178b80a029" class="">
          Try to get here early in the morning to avoid crowds.
          <a href="https://maps.app.goo.gl/6tSkJUxme7m7m8Kw7">Shopping mall</a>
        </p>
        <p id="49619d62-2b68-480e-942e-f18f0a76465a" class="">
          Go to
          <a href="https://maps.app.goo.gl/hmtZ4m5SFEhTwtNc9"
            ><strong>Ueno </strong></a
          ><a href="https://maps.app.goo.gl/hmtZ4m5SFEhTwtNc9">parc</a>. Make
          sure to visit the
          <a href="https://maps.app.goo.gl/nh9dtEgTpoisJeaf9">Toshogu Shrine</a>
          before 16:00. Walk by the river to get a nice view of Tokyo Sky Tree,
          the third highest building in the world.
        </p>
        <p id="8cda407f-14a4-47ba-b708-4cd0dbacba63" class="">
          In the evening, travel to
          <a href="https://maps.app.goo.gl/Km8qUd5Di1GucyAF6">Tokyo Tower</a>.
        </p>
        <figure id="ed0c0af0-2395-4f57-9b6c-4b14d6b5fb37">
          <a
            href="https://www.japan.travel/en/destinations/kanto/tokyo/asakusa-and-around/"
            class="bookmark source"
            ><div class="bookmark-info">
              <div class="bookmark-text">
                <div class="bookmark-title">
                  Asakusa | Tokyo | Kanto | Destinations | Travel Japan - Japan
                  National Tourism Organization (Official Site)
                </div>
                <div class="bookmark-description">
                  Enter through the enormous bright-red Kaminarimon, meaning
                  &quot;thunder gate,&quot; and walk through whorls of incense
                  smoke before leaving a traditional five-yen offering at the
                  capital&#x27;s iconic Sensoji Temple.
                </div>
              </div>
              <div class="bookmark-href">
                <img
                  src="https://www.japan.travel/static/apple-touch-icon.e36bdd4feef9.png"
                  class="icon bookmark-icon"
                />https://www.japan.travel/en/destinations/kanto/tokyo/asakusa-and-around/
              </div>
            </div>
            <img
              src="https://res-1.cloudinary.com/jnto/image/upload/w_1000,h_667,c_fill,f_auto,fl_lossy,q_auto/v1646013222/tokyo/H_00498_001"
              class="bookmark-image"
          /></a>
        </figure>
      </li>
    </ul>
    <ul id="624b4eef-1b62-4214-824b-c55523f09337" class="bulleted-list">
      <li style="list-style-type: disc">
        Day 2:<strong> </strong
        ><mark class="highlight-blue_background"
          ><strong>Marunouchi</strong></mark
        >: In Tokyo center visit the
        <a href="https://maps.app.goo.gl/3HsurETaxNtBTo9XA">emperors palace</a>.
        Walk to the
        <a href="https://maps.app.goo.gl/1K5DP8jqFN53vFdr9">East Gardens</a>.
        Walk to the Ginza district to see the famous
        <a href="https://maps.app.goo.gl/v6gYxNYG1MPe7KSf8"
          >Ginza Scramble Crossing</a
        >. Nearby
        <a href="https://maps.app.goo.gl/jSzjZFK11x7TS1KH6"
          >Revive Kitchen Three
        </a>
        is a good vegan restaurant.
        <a href="https://maps.app.goo.gl/sUEJBVgyq5a5xXdP9">LLAB</a> is a pub
        where you can craft your own beer.
        <p id="258a7762-b6f4-4bb2-9bf2-97fa06b6f3d6" class="">
          In the evening, travel to
          <mark class="highlight-blue_background"
            ><strong>Akihabara</strong></mark
          >
        </p>
        <figure id="2e21c162-85bc-4218-ac20-b186ca89b06b">
          <a
            href="https://www.japan.travel/en/destinations/kanto/tokyo/tokyo-station-and-marunouchi/"
            class="bookmark source"
            ><div class="bookmark-info">
              <div class="bookmark-text">
                <div class="bookmark-title">
                  Imperial Palace &amp; Tokyo Station | Tokyo | Kanto |
                  Destinations | Travel Japan - Japan National Tourism
                  Organization (Official Site)
                </div>
                <div class="bookmark-description">
                  Tokyo Station and the surrounding Marunouchi district
                  epitomize the contrasts between traditional and modern Japan.
                </div>
              </div>
              <div class="bookmark-href">
                <img
                  src="https://www.japan.travel/static/apple-touch-icon.e36bdd4feef9.png"
                  class="icon bookmark-icon"
                />https://www.japan.travel/en/destinations/kanto/tokyo/tokyo-station-and-marunouchi/
              </div>
            </div>
            <img
              src="https://res-2.cloudinary.com/jnto/image/upload/w_1000,h_667,c_fill,f_auto,fl_lossy,q_auto/v1513936386/tokyo/Tokyo2258_24"
              class="bookmark-image"
          /></a>
        </figure>
        <figure id="7a482407-6abf-4f55-b2ae-f0dce8f3a2ce">
          <a
            href="https://www.japan.travel/en/destinations/kanto/tokyo/ueno-and-akihabara/"
            class="bookmark source"
            ><div class="bookmark-info">
              <div class="bookmark-text">
                <div class="bookmark-title">
                  Ueno &amp; Akihabara | Tokyo | Kanto | Destinations | Travel
                  Japan - Japan National Tourism Organization (Official Site)
                </div>
                <div class="bookmark-description">
                  Ueno and Akihabara are neighboring districts in Tokyo, but
                  they couldn&#x27;t be more different in style, substance and
                  atmosphere.
                </div>
              </div>
              <div class="bookmark-href">
                <img
                  src="https://www.japan.travel/static/apple-touch-icon.e36bdd4feef9.png"
                  class="icon bookmark-icon"
                />https://www.japan.travel/en/destinations/kanto/tokyo/ueno-and-akihabara/
              </div>
            </div>
            <img
              src="https://res-3.cloudinary.com/jnto/image/upload/w_1000,h_667,c_fill,f_auto,fl_lossy,q_auto/v1513937406/tokyo/Tokyo2264_4"
              class="bookmark-image"
          /></a>
        </figure>
      </li>
    </ul>
    <ul id="d9500b5d-77c1-4ac7-b31e-f5cb3a7ca8ad" class="bulleted-list">
      <li style="list-style-type: disc">
        Day 3:
        <mark class="highlight-blue_background"
          ><strong>Shibuya and Harajuku. </strong></mark
        >Start with Harajuku shopping district with nice vintage shops and
        sneaker shops. Walk to
        <a href="https://maps.app.goo.gl/E3crBpj7sgmUbsha9">Takeshita St</a>.
        (very busy). Eat vegan ramen at
        <a href="https://maps.app.goo.gl/iBeSsgCQkRrDWtsz7">AFURI Harajuku</a>.
        <p id="5045c6af-6aa5-4aa2-9c84-ce0203290095" class="">
          Walk through
          <a href="https://maps.app.goo.gl/WJKDxjaAfMs5WdTA9">Yoyogi Park</a>.
        </p>
        <p id="41733b37-262d-45eb-9431-f1fb6701e46d" class="">
          Travel to Shibuya station. See the famous
          <a href="https://maps.app.goo.gl/WrtSXVDxRt38WgVk8"
            >Shibuya Scramble Crossing</a
          >. Get a top down view of it from
          <a href="https://maps.app.goo.gl/fk3bD1SoEjkxG53Z8">Shibuya Sky</a>
          (need to make reservation at least a month in advance)
        </p>
        <p id="eac2ec2f-cde0-49bf-8137-5b0c14f41d1f" class="">
          Go to
          <a href="https://maps.app.goo.gl/RiTTKQWTDTighM8m8"
            >Loft souvenir shop</a
          >. Go to
          <a href="https://maps.app.goo.gl/3VjWf2yLGejHNTYt9"
            >Nintendo Tokyo shop</a
          >. The building has a great rooftop where you see over Shibuya.
        </p>
        <p id="25c1c46a-8244-4fa3-b8f6-6acf356d1f38" class="">
          Go clubbing at
          <a href="https://maps.app.goo.gl/8yojCUAsePtfcgCAA">Enter Shibuya</a>
          (techno club)
        </p>
        <figure id="3608c37c-e823-4363-adba-e1d4baaf5477">
          <a
            href="https://www.japan.travel/en/spot/2174/"
            class="bookmark source"
            ><div class="bookmark-info">
              <div class="bookmark-text">
                <div class="bookmark-title">
                  Harajuku | Travel Japan - Japan National Tourism Organization
                  (Official Site)
                </div>
                <div class="bookmark-description">
                  Home of Tokyo&#x27;s streetwear and &quot;kawaii&quot;
                  culture, Harajuku is a vivid blend of fashion trends, rainbow
                  food and offbeat style, an easy stroll from Shibuya
                </div>
              </div>
              <div class="bookmark-href">
                <img
                  src="https://www.japan.travel/static/apple-touch-icon.e36bdd4feef9.png"
                  class="icon bookmark-icon"
                />https://www.japan.travel/en/spot/2174/
              </div>
            </div>
            <img
              src="https://res-1.cloudinary.com/jnto/image/upload/w_1000,h_667,c_fill,f_auto,fl_lossy,q_auto/v1513934486/tokyo/Tokyo2324_3"
              class="bookmark-image"
          /></a>
        </figure>
        <figure id="f324eee9-8178-4658-997a-55b5d057c957">
          <a
            href="https://www.japan.travel/en/spot/2109/"
            class="bookmark source"
            ><div class="bookmark-info">
              <div class="bookmark-text">
                <div class="bookmark-title">
                  Shibuya | Travel Japan - Japan National Tourism Organization
                  (Official Site)
                </div>
                <div class="bookmark-description">
                  The lively hub of Shibuya is arguably the youth heart and soul
                  of the city, and unmissable if you’re visiting the Tokyo area.
                  With world-famous sights including the iconic scramble
                  crossing, this area is a must-see for nightlife and trendy
                  youth culture.
                </div>
              </div>
              <div class="bookmark-href">
                <img
                  src="https://www.japan.travel/static/apple-touch-icon.e36bdd4feef9.png"
                  class="icon bookmark-icon"
                />https://www.japan.travel/en/spot/2109/
              </div>
            </div>
            <img
              src="https://res-1.cloudinary.com/jnto/image/upload/w_1000,h_667,c_fill,f_auto,fl_lossy,q_auto/v1513936730/tokyo/Tokyo2333_3"
              class="bookmark-image"
          /></a>
        </figure>
      </li>
    </ul>
    <ul id="2d957306-0d40-44a7-9cdb-bf06523f1e2f" class="bulleted-list">
      <li style="list-style-type: disc">
        Day 4:<strong> </strong
        ><mark class="highlight-blue_background"
          ><strong>Nakameguro and Shinjuku</strong></mark
        >
        <p id="f2646cda-f630-4309-9248-4812007532f9" class="">
          Visit Nakameguro only during cherry blossom season. Start at<a
            href="https://maps.app.goo.gl/nBUR6ff1bm5jn8nh8"
          >
            Naka-Meguro Park</a
          >. Walk towards Meguro river towards
          <a href="https://maps.app.goo.gl/82hSwDfSTETP6bHV7"
            >Naka-Meguro Koukashita shopping mall</a
          >. Have the vegan curry for lunch at
          <a href="https://maps.app.goo.gl/T9PxL9h7TXPV1UYu8">Alaska zwei</a>.
          Visit the
          <a href="https://maps.app.goo.gl/72Lm9ZWnavx7xGi3A">Sky Garden</a>, on
          good days you can see the tip of Mt. Fuji
        </p>
        <p id="cfb23545-7a12-4eae-b002-770a8c3a3847" class="">
          Travel to Shinjuku, visit the
          <a href="https://maps.app.goo.gl/QDCTeDsiBihoTdzAA"
            >National Garden</a
          >
          and the
          <a href="https://maps.app.goo.gl/7puUq8JZBpRupDXf9"
            >Government building</a
          >. Visit the
          <a href="https://maps.app.goo.gl/Kr6K5m8pqBkS2n2o6"
            >Hanazono Shrine</a
          >
          and walk through
          <a href="https://maps.app.goo.gl/qR5qd2fDHsMq8Lub7">Golden Gai</a> to
          enjoy small bars with less tourists. Visit the narrow
          <a href="https://maps.app.goo.gl/bL8WmukX6fxzNUYB9">Omoide Yokocho</a>
          street (crowded, very touristy).
        </p>
        <p id="c40f94c3-bcf5-4afe-96bb-5bccf877d2d7" class="">
          Have dinner at
          <a href="https://maps.app.goo.gl/ped7evRwKDxs6hmu5"
            >Vegan &amp; Wine Bar Kiboko</a
          >
          (make reservation one day in advance). Alternatively, visit
          <a href="https://maps.app.goo.gl/eFNbv5zpW6ZZhMSV7">Doumo</a> for
          vegan burritos
        </p>
        <figure id="ac4ac2df-b201-4034-83e6-966c45a005dc">
          <a
            href="https://www.japan.travel/en/destinations/kanto/tokyo/nakameguro-and-around/"
            class="bookmark source"
            ><div class="bookmark-info">
              <div class="bookmark-text">
                <div class="bookmark-title">
                  Nakameguro | Tokyo | Kanto | Destinations | Travel Japan -
                  Japan National Tourism Organization (Official Site)
                </div>
                <div class="bookmark-description">
                  Nakameguro or &quot;Naka-me,&quot; as it is colloquially
                  known, strikes a distinctive balance between luxury and the
                  bohemian. For scenery, shopping, hairstyling, dining, cafes,
                  and art, this area is defined by its cool and sophisticated
                  atmosphere.
                </div>
              </div>
              <div class="bookmark-href">
                <img
                  src="https://www.japan.travel/static/apple-touch-icon.e36bdd4feef9.png"
                  class="icon bookmark-icon"
                />https://www.japan.travel/en/destinations/kanto/tokyo/nakameguro-and-around/
              </div>
            </div>
            <img
              src="https://res-3.cloudinary.com/jnto/image/upload/w_1000,h_667,c_fill,f_auto,fl_lossy,q_auto/v1513938277/tokyo/Tokyo2330_2"
              class="bookmark-image"
          /></a>
        </figure>
        <figure id="88b59725-b4fa-4ca9-b7f7-83afd6a6ce73">
          <a
            href="https://www.japan.travel/de/destinations/kanto/tokyo/shinjuku/"
            class="bookmark source"
            ><div class="bookmark-info">
              <div class="bookmark-text">
                <div class="bookmark-title">TOKYO Reiseführer - Shinjuku</div>
                <div class="bookmark-description">
                  Neben dem verkehrsreichsten Bahnhof der Welt hat Shinjuku
                  viele Wolkenkratzer, den schönen Shinjuku Gyoen Garten sowie
                  ein großes Shoppings- und Unterhaltungsangebot zu bieten.
                </div>
              </div>
              <div class="bookmark-href">
                <img
                  src="https://www.japan.travel/static/apple-touch-icon.e36bdd4feef9.png"
                  class="icon bookmark-icon"
                />https://www.japan.travel/de/destinations/kanto/tokyo/shinjuku/
              </div>
            </div>
            <img
              src="https://res-4.cloudinary.com/jnto/image/upload/w_1000,h_667,c_fill,f_auto,fl_lossy,q_auto/v1513945890/tokyo/Tokyo2335_10"
              class="bookmark-image"
          /></a>
        </figure>
        <hr id="3f7781bd-2da0-4c37-a502-de606b7fe526" />
        <p id="a4486b0c-5f3c-4ad3-857b-2a38f76b3fd4" class="">
          Written by <a href="https://lakhoune.com">Ben Lakhoune</a>
        </p>
        <p id="07ec4e12-7989-4404-bf03-2b0d4d75871a" class=""></p>
      </li>
    </ul>
  </div>
</article>
<br />
